/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/

/spec/reports/
/tmp/
.rake_tasks~
*.gem
Gemfile.lock
.idea
.DS_Store
pkg/

# directory for prism and prism-themes
external_libraries/
